DEPLOYER_PRIVATE_KEY=NONE
PLATFORM_TREASURY=NONE

SEPOLIA_RPC_URL=NONE
BASE_SEPOLIA_RPC_URL=NONE
OPTIMISM_SEPOLIA_RPC_URL=NONE
ARBITRUM_SEPOLIA_RPC_URL=NONE

BASE_RPC_URL=NONE
OPTIMISM_RPC_URL=NONE
ARBITRUM_RPC_URL=NONE
