VITE_API_BASE_URL=http://localhost:8080

VITE_RPC_URL_11155111=https://ethereum-sepolia-rpc.publicnode.com
VITE_RPC_URL_84532=https://sepolia.base.org
VITE_RPC_URL_11155420=https://sepolia.optimism.io
VITE_RPC_URL_421614=https://sepolia-rollup.arbitrum.io/rpc
VITE_RPC_URL_8453=https://mainnet.base.org
VITE_RPC_URL_10=https://mainnet.optimism.io
VITE_RPC_URL_42161=https://arb1.arbitrum.io/rpc

VITE_SUBSCRIPTION_MANAGER_11155111=NONE
VITE_SUBSCRIPTION_MANAGER_84532=NONE
VITE_SUBSCRIPTION_MANAGER_11155420=NONE
VITE_SUBSCRIPTION_MANAGER_421614=NONE
VITE_SUBSCRIPTION_MANAGER_8453=NONE
VITE_SUBSCRIPTION_MANAGER_10=NONE
VITE_SUBSCRIPTION_MANAGER_42161=NONE
