VITE_API_BASE_URL=http://localhost:8080

VITE_RPC_URL_11155111=NONE
VITE_RPC_URL_84532=NONE
VITE_RPC_URL_11155420=NONE
VITE_RPC_URL_421614=NONE
VITE_RPC_URL_8453=NONE
VITE_RPC_URL_10=NONE
VITE_RPC_URL_42161=NONE
